# k1max-x2000
# Printer_size: 300x300x300
# Version: v0.0.15
# CreateDate: 2025/10/29
[creality_features]
extras_endstop_align_z: False
pl_process_extras_extrusion: True
pl_process_extras_homing: True
pl_process_extras_keep_z: True
pl_process_extras_fast_origin: True
start_print_extras_homing: True
pl_process_skip_bed_mesh: False
kinematic: corexy
input_shaper_xy_share_sensor: True
discard_front_samples: False
harmonic_additions_init: True
has_power_loss_device: False


[mcu]
serial: /dev/ttyS7
baud: 230400
restart_method: command

[include box.cfg]

[mcu nozzle_mcu]
serial: /dev/ttyS1
baud: 230400
restart_method: command

[mcu leveling_mcu]
serial: /dev/ttyS9
baud: 230400
restart_method: command

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

[verify_heater extruder]

[verify_heater heater_bed]
check_gain_time: 120
heating_gain: 1.0
hysteresis: 10

[virtual_sdcard]
path: /usr/data/printer_data/gcodes

[gcode_arcs]
resolution: 1.0

[creality_quick_control]

[creality_power_less]
e2prom_device: /usr/data/printer_data/database/power_less.dat

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 306.5
position_min: -9
position_max: 306.5
homing_speed: 30
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin:PA9
interpolate: True
run_current:1.5
hold_current:1.0
sense_resistor: 0.100
stealthchop_threshold: 0
uart_address:3
diag_pin: ^PB12
driver_SGTHRS: 75

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -2
position_min: -2
position_max: 306
homing_speed: 30
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin:PA10
interpolate: True
run_current:1.5
hold_current:1.0
sense_resistor: 0.100
stealthchop_threshold: 0
uart_address:3
diag_pin: ^PB13
driver_SGTHRS: 70



[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 32
rotation_distance:8
gear_ratio: 64:20
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0
position_max: 305
position_min: -10

[tmc2209 stepper_z]
uart_pin: PA11
run_current: 0.8
diag_pin: ^PB14
uart_address:3
stealthchop_threshold: 0
sense_resistor: 0.100
driver_SGTHRS: 0


[creality_extra_endstop]
extra_x_endstop_pin: None
extra_y_endstop_pin: None
extra_z_endstop_pin: None
extra_x_position_endstop: 300.0
extra_y_position_endstop: 0.0
extra_z_position_endstop: 330.0

# 喷嘴热敏电阻
[thermistor extruder_thermistor]
temperature1:25
resistance1:260000
temperature2:220
resistance2:738
temperature3:350
resistance3:98

# 机箱温度
[temperature_sensor chassis]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 125

# 主板温度
[temperature_sensor main_board]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# 挤出头相关配置
[extruder]
max_extrude_only_distance: 1000.0
max_extrude_cross_section: 80
step_pin: nozzle_mcu:PB1
dir_pin: nozzle_mcu:PB0
enable_pin: !nozzle_mcu:PB2
microsteps: 16
rotation_distance: 6.9
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: nozzle_mcu:PB7
# pullup_resistor: 2000
sensor_type: EPCOS 100K B57560G104F
sensor_pin: nozzle_mcu:PA0
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040
control: pid
pid_Kp: 29.395
pid_Ki: 3.438
pid_Kd: 62.830
min_temp: 0
max_temp: 320

# 需要查
[tmc2209 extruder]
uart_pin: nozzle_mcu:PB11
uart_address: 3
run_current: 0.55
sense_resistor: 0.150
stealthchop_threshold: 0
diag_pin: ^PB12

# 热床加热器配置
[heater_bed]
# heater_pin: PB10
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 10
pid_Ki: 5
pid_Kd: 10
min_temp: -30
max_temp: 135

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: !PC15

# 喷头喉管风扇配置
[heater_fan hotend_fan]
pin:nozzle_mcu:PB5
enable_pin:PB2
# 这是什么东西？
# tachometer_pin:nozzle_mcu:PB1
heater:extruder
heater_temp:50.0

# 模型散热风扇静态配置
[static_digital_output my_fan_output_pins]
pins:nozzle_mcu:PB6

# 模型散热风扇配置
[fan_generic model_fan]
pin:!nozzle_mcu:PB8
on_below:15

# 机箱两侧辅助散热风扇配置
[fan_generic side_fan]
pin:PB1
kick_start_time:1
on_below:75

# 机箱风扇配置
[fan_generic chassis_fan]
pin: PC0
on_below:15

[output_pin power]
pin: PC9

[output_pin LED]
pin:PB0
pwm: True
cycle_time: 0.010
value: 1

# 加速度传感器配置
# [lis2dw]
# cs_pin: nozzle_mcu:PA4
# spi_speed: 5000000
# axes_map: x,z,y
# # spi_software_sclk_pin: nozzle_mcu:PA5
# # spi_software_mosi_pin: nozzle_mcu:PA7
# # spi_software_miso_pin: nozzle_mcu:PA6
# spi_bus:spi_speed: 5000000
# axes_map: x,z,y
# spi_software_sclk_pin: nozzle_mcu:PA5
# spi_software_mosi_pin: nozzle_mcu:PA7
# spi_software_miso_pin: nozzle_mcu:PA6
#spi_bus: spi1

[adxl345]
cs_pin: nozzle_mcu:PA4
spi_speed: 5000000
axes_map: x,-z,y
spi_software_sclk_pin: nozzle_mcu:PA5
spi_software_mosi_pin: nozzle_mcu:PA7
spi_software_miso_pin: nozzle_mcu:PA6


[input_shaper]
shaper_type_x = ei
shaper_freq_x = 60.4
shaper_type_y = ei
shaper_freq_y = 60.4

#共振补偿参数配置
[resonance_tester]
accel_chip: adxl345
probe_points:
   150,150,10
min_freq: 20
max_freq: 120
accel_per_hz: 50
#[harmonic_anc]
# 设置Gsensor型号
#accel_chip: adxl345
# 设置校准过程运动范围默认(70,70)-(150,150)
# x_min: 70
# x_max: 150
# y_min: 70
# y_max: 150
# 设置xy电机tmc芯片类型
#xy_stepper_tmc:tmc2209
# 设置幅值迭代min,max,迭代次数
#amp_iterat_range:0,250,10
# 设置相位迭代min,max,迭代次数
#phase_iterat_range:0,4096,12
# 设置1、2、4次谐波迭代相位时经验幅值
#amp:50,100,150
# 设置1、2、4次谐波迭代进行迭代
#harmonic_freq:1,2,4
# 设置谐波校准速度 mm/s
#velocity:140
# 设置谐波校准测试过程中数据保存路径
#output_directory:/usr/data/printer_data/auto_scan
# 设置谐波降噪默认状态，0关闭 1打开，未执行校准时候有效，执行校准后该参数会自动注释，状态跟随校准结果里�感器配置
[prtouch_v3]
z_offset: 0
speed: 5
samples: 1
samples_result: average
samples_tolerance_retries: 5
samples_tolerance: 0.5
step_swap_pin: !PC10
pres_swap_pin: leveling_mcu:PB1
prth_msg_show: True
# prth_dbg_ippt: 172.25.10.198
pres_cs0_pin: leveling_mcu:PA5, leveling_mcu:PA1
pres_cs1_pin: leveling_mcu:PA2, leveling_mcu:PA0
pres_cs2_pin: leveling_mcu:PA6, leveling_mcu:PA3
pres_cs3_pin: leveling_mcu:PA7, leveling_mcu:PA4
pres_tri_hold:9000, 15000, 500
prth_tmp_comp: 26,300,0,0.31#0.22#0.24#0.26#0.28#0.25#0.28#0.14#0.135 #默认使用非线性温度补偿功能，26,300,0,0.11 使用2.5mm不削薄应变片+提高应变片激励电压方案 #26,300,0,0.135削薄应变片
enable_not_linear_comp:False#True #是否使能温度非线性补偿功能，True使能 False不使能(使用线性补偿)
pres_cfg_regs:60 #60（1280/128）44（640/128）56（1280/64）
prth_max_chps:16#8
prth_clr_pose: 94,300,30#34 #修改擦嘴位置，x,y,长度，如果擦嘴是区域不对，一般只需要改y即可
temp_change_pose: 87,300,3# 喷头擦嘴动作后改变温度时候的等待位置,在硅胶左侧
prth_clr_probe_pos:94,260
prth_clr_zpre:0
prth_err_dead:0.1

pres_use_hx711:True
pres_ded_tkms:12.0
prth_g28_ahig:5.0

[bed_mesh]
speed: 80
mesh_min: 5,5
mesh_max: 295,295
probe_count:7,7
mesh_pps: 2, 2
fade_start: 5.0
fade_end: 50.0
bicubic_tension: 0.2
algorithm: bicubic
horizontal_move_z:5
split_delta_z: 0.01
move_check_distance: 5

[display_status]

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 10
square_corner_velocity: 10
max_z_accel: 300
speed_avoid0:91,109,110
# speed_avoid1:69,81,90
# speed_avoid2:7,9,8

[performance_monitor]

[pause_resume]

[exclude_object]

[force_move]
enable_force_move: true

[creality_safe_home]
home_xy_position:153,153
speed: 100
x_hop:10
y_hop:10
z_hop:5
x_wait:2
y_wait:2
second_home:True

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    CANCEL_PRINT_BASE

[motor_music]
start_print_music:
    SET_STEPPER_ENABLE  STEPPER=stepper_x enable=1
    SET_STEPPER_ENABLE  STEPPER=stepper_y enable=1
    G4 P2000
    MUSIC M=1 h=1 T=300
    MUSIC M=1 h=1 T=300
    MUSIC M=5 h=1 T=300
    MUSIC M=5 h=1 T=300
    MUSIC M=6 h=1 T=300
    MUSIC M=6 h=1 T=300
    MUSIC M=5 h=1 T=400
    G4 P2000
end_print_music:
    G4 P300
    MUSIC M=4 h=1 T=300
    MUSIC M=4 h=1 T=300
    MUSIC M=3 h=1 T=300
    MUSIC M=3 h=1 T=300
    MUSIC M=2 h=1 T=300
    MUSIC M=2 h=1 T=300
    MUSIC M=1 h=1 T=400
    G4 P500
power_on_music:
    SET_STEPPER_ENABLE  STEPPER=stepper_x enable=1
    SET_STEPPER_ENABLE  STEPPER=stepper_y enable=1
    G4 P2000
    MUSIC M=1 h=1 T=150
    MUSIC M=2 h=1 T=150
    MUSIC M=3 h=1 T=150
    MUSIC M=2 h=1 T=150
    MUSIC M=1 h=1 T=150
    G4 P300
    M84

[gcode_macro_cmd]
safe_xy_position: -8,50
safe_extrude: 4.0
safe_height_pause: 10
safe_height_end: 100
start_with_z_titl: False
start_with_bedmesh_cal: True
x_position_min:-4
