[serial_can]

[box]
filament_sensor:filament_sensor

Tn_retrude: -6#-60       #切料后，使耗材退出挤出齿轮的长度
Tn_retrude_velocity: 360  #回抽速度
Tn_extrude_temp: 220  #挤出温度
Tn_extrude: 140    #如果当前温度设置温度，预加热刀120
Tn_extrude_velocity: 360  #挤出速度
buffer_empty_len: 30  #缓冲器回抽预留长度，需要挤出缓冲器预留的长度 （切断挤出机内撞刀到挤出齿轮的长度）
clean_left_pos_x: 219  #料槽吐完料摆动 左边界
clean_left_pos_y: 220#380# 368
clean_right_pos_x: 209 #料槽吐完料摆动 右边界
clean_right_pos_y: 220#380
clean_velocity: 12000
box_need_clean_length:60
# cut_velocity:   18000#12000
extrude_pos_x: 0#135   #切换料吐料的位置
extrude_pos_y: 110#380
has_extrude_pos: 1          #有没有吐料需要  区分K1_MAX和f008
safe_pos_y: 220
safe_pos_x: 219
clean_pos_left_x: 154     #擦喷嘴 硅胶的左边界的坐标
clean_pos_right_x:170     #擦喷嘴 硅胶的右边界的坐标
clean_pos_middle_y:220    #擦喷嘴 硅胶的Y轴中间坐标
# check_cut_pos_x_max:-1    #切刀校准坐标最大坐标 的边界值
# switch_pin:!nozzle_mcu:PB9
extrude_material_times: 10
extrude_material_len_for_extruder: 10
first_extrude_length: 5
extrude_length: 20
retrude_cut_material_length: 35
side_fan_percent:80
model_fan_percent:80

version: 1


#进退料老化测试挤料长度
switch_material_extrude_len: 20
switch_material_extrude_speed: 60


[cutter_module]

